.header__lang-link {
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  line-height: 117%;
  opacity: 1;
  transition: opacity 1s ease;
  text-decoration: none;
  padding-right: 18px;
}

.header__lang-link:last-of-type{
  padding-right: 0px;
}

.header__lang-link:hover {
  opacity: 0.8;
}




@media (max-width: 375px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
