.lead {
  justify-content: space-between;
  align-items: center;
  padding: 0 148px;
  margin-top: 56px;
}

@media (max-width: 1024px) {
  .lead {
    padding: 0 48px;
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .lead {
    padding: 0;
  }
}
