.footer__link {
  padding: 0;
  text-decoration-line: none;
  color: #ffffff;
  opacity: 1;
  transition: opacity 1s ease;
}

.footer__link:hover {
  opacity: 0.8;
}


@media (max-width: 500px) {
  .footer__link {
    margin-bottom: 32px;
  }
}
