.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
}

@media (max-width: 560px) {
  .footer__copyright {
    padding-top: 48px;
  }
}
