.cover {
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (max-width: 375px) {
  .cover {
    margin-bottom: 64px;
  }
}
