.cover {
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .cover {
  }
}

@media (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (max-width: 630px) {
  .cover {
    margin-bottom: 64px;
  }
}
