.footer{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin:0 48px;
    height: auto;
  }

  @media (max-width: 768px){
    .footer{
      margin:0 24px;
    }
  }

  @media (max-width:500px){
    .footer{
      display:flex;
      flex-direction: column;
      justify-content:space-between;
      align-items: flex-start;
      margin:0 16px;
    }
  }